{% extends "base.html" %}

{% block title %}
<div class="container-sm">
    <h3>Sport Field Reservations</h3>
</div>
{% endblock %}

{% block content %}
<div class="container-sm">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-1">Date</th>
            <th class="col-1">Sport Field Name</th>
            <th class="col-6">Comment</th>
        </tr>
        </thead>
        <tbody>
        {% for r in reservations %}
        <tr>
            <th class="col-1">{{ r.id }}</th>
            <td class="col-1">{{ r.date }}</td>
            <td class="col-1">
                <a href="/sport-field/{{ r.sport_field.id }}/">{{ r.sport_field.name }}</a></td>
            <td class="col-6">{{ r.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}