{% extends "base.html" %}

{% block title %}
<div class="container-sm">
    <h3>Search Sport Field</h3>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post" id="search-by-name-form">
        {% csrf_token %}
        {{ name_form }}
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
</div>

<div class="container">
    <form action="" method="post" id="search-by-discipline-form">
        {% csrf_token %}
        {{ discipline_form }}
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
</div>

<br>

<div class="container-sm" >
    <p>Search Results:</p>
    <div style="overflow-y: scroll; height:200px;">
        <ul class="list-group">
            {% for sport_field in sport_fields %}
            <li class="list-group-item">
                <a href="/sport-field/{{ sport_filed.id }}">{{ sport_field.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}