{% extends "base.html" %}

{% block title %}
<div class="container-sm">
	<h3>Sport Field Owner Details</h3>
</div>
{% endblock %}

{% block content %}
<div class="container-sm">
	<p>Sport Field Owner Name:</p>
	<strong>{{ sport_field_owner.name }}</strong>
	<br><br>
	<p>List of sport fields managed by the owner:</p>
	<ul>
		{% for sf in sport_fields %}
		<li><a href="/sport-field/{{ sf.id }}">{{ sf.name }}</a></li>
		{% empty %}
		The owner doesn't manage any sport fields.
		{% endfor %}
	</ul>
	<p><a href="/owner/edit/{{ sport_field_owner.id }}">Add sport fields managed by this owner</a></p>
</div>
{% endblock %}

{% block map %}
var map = L.map('map').setView([52.2, 21], 10);
{% endblock %}
